services:
  server:
    image: masna3-server-devel
    build:
      dockerfile: Dockerfile
      args:
        - USER=${USER}
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    ports:
      - "8085:8085"
    volumes:
      - database-data:/masna3/pgdata/
      - .:/masna3:Z
    command: sleep infinity
    profiles:
      - local
    depends_on:
      - database
    init: true

  database:
    image: "postgres:17.5"
    container_name: database
    user: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    expose:
      - "5432"
    env_file:
      - database.env
    volumes:
      - database-data:/var/lib/postgresql/data
    profiles:
      - local

volumes:
  database-data:
