services:
  devel:
    user: "${UID}:${GID}"
    image: $USER-masna3-devel
    build:
      dockerfile: Dockerfile
      target: devel
      args:
        - USER=${USER}
        - UID=${UID}
        - GID=${GID}
    ports:
      - "8085:8085"
    volumes:
      - database-data:/masna3/pgdata/
      - $SOURCE_DIRECTORY:/home/$USER/masna3

    command: sleep infinity
    profiles:
      - local
    depends_on:
      - database
    init: true

  database:
    image: docker.io/library/postgres:17.5
    container_name: database
    user: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    expose:
      - "5432"
    env_file:
      - database.env
    volumes:
      - database-data:/var/lib/postgresql/data
    profiles:
      - local

volumes:
  database-data:
